body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

@keyframes pump {
  0% { transform: scale(1); }
  25% { transform: scale(1.1); }
  50% { transform: scale(1.15); }
  75% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.pump-animation {
  animation: pump 6s ease-in-out;
}
